<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SashaGrayBot.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SashaGrayBot.BotSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
  <userSettings>
    <SashaGrayBot.BotSettings>
      <setting name="UserName" serializeAs="String">
        <value>Sasha</value>
      </setting>
      <setting name="PasswordToken" serializeAs="String">
        <value>91fd1607341d5a5b723519b218023ad3</value>
      </setting>
      <setting name="BotToken" serializeAs="String">
        <value>333253994:AAGQ21RKbwNLPWUGXlSamzKAEEpGUOZUldY</value>
      </setting>
      <setting name="Host" serializeAs="String">
        <value>192.168.104.144</value>
      </setting>
      <setting name="Poprt" serializeAs="String">
        <value>8080</value>
      </setting>
    </SashaGrayBot.BotSettings>
  </userSettings>
</configuration>